// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

td,
th {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: $ink-blue !important;
  font-weight: 700 !important;
}

th, td {
  border: 1px solid $ink-blue;
  padding: 8px;
  
}

th {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  line-height: 28px;
  color: white !important;
  font-weight: 700 !important;
  background-color: $ink-blue;
  text-align: center;
  width: 33.33%;
}

td {
  text-align: center;
  background-color: #fff;
}

.border-bottom {
  height: 5rem;
}

.survey-section {
  background-color: #efefef;
}

.wForm .matrixLayout th.headerCol {
  width: 50%;
  padding: 0.5rem;
}

.MsoNormal {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  line-height: 28px;
  color: $ink-blue !important;
  font-weight: 700 !important;
}

.borderbottom {
  border: none !important;
  border-bottom: solid 1px $ink-blue !important;
  height: 78px;
}



.smile {
  border-radius: 50%;
  box-shadow: -3px 12px 2px -1px #fdb913;
  margin-left: 50px;
  width: 75%;
}

.wForm .matrixLayout .label {
  padding: 0 !important;
}

.back-link {
  font-size: 12px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: $breakpoint-sm) {
  

  .wForm .matrixLayout.stacked tr {
    display: inline-table !important;
  }

}
