// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

td, .td-adj, th {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: $ink-blue !important;
  font-weight: 700 !important;
}

th {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  line-height: 28px;
  color: $ink-blue !important;
  font-weight: 700 !important;
}

.border-bottom {
  height: 5rem;
}

.survey-section {
  background-color: #EFEFEF ;
}

.wForm .matrixLayout th.headerCol {
  width: 50%;
  
}

.MsoNormal {

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px !important;
  line-height: 28px;
  color: $ink-blue !important;
  font-weight: 700 !important;
  
}

.borderbottom {
  border: none !important;
  border-bottom: solid  1px $ink-blue !important;
  height: 78px;
}

  
  /* Rectangle 52 */
.belong-section {
  background: linear-gradient(rgba(0, 36, 78, 0.8), rgba(0, 36, 78, 0.8)), url(../images/campus.png);
  background-position: center top;
  background-repeat: no-repeat;
}

.smile {
  border-radius: 50%;
  box-shadow: -3px 12px 2px -1px #fdb913;
  transform: translate(73px, -166px);
  float: right;
  display: block;
  margin: 0 auto; /* This will center the image horizontally */
  width: 40%; /* Ensure the image doesn't exceed the width of its container */
  height: auto;
}

.wForm .matrixLayout .label {
  padding: 0 !important;
}

.back-link {
  font-size: 12px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

}
 

@media only screen and (max-width: $breakpoint-sm) {
.smile {
  float: none;
  transform: none;
}

}
  
  
 
  